<div class="page-background">
  <div id="video-container">
    <div class="bg" style="background:#666"></div>
    <div id="P3" class="player video-container" data-property="{videoURL:'9Mm-MaV2ocQ',containment:'#video-container',autoPlay:true, mute:true, startAt:28, showControls:false, opacity:1}"></div>
    <div class="fullscene-close"><span class="transition2"></span><i class="fa fa-times"></i> </div>
  </div>
  <div class="overlay"></div>
</div>
<!--================= header start ================-->
<div  id="header">
  <div class="container">
    <div class="widget-holder">
      <div class="widget">
        <ul>
          <li>
              <a class="show-info transition"><span class="transition2"></span><i class="fa fa-info "></i></a>
          </li>
        </ul>
      </div>
      <ul class="p-info not-vis">
        <li>
          <span>Name</span>
          <h5>Jason Taylor</h5>
        </li>
        <li>
          <span>E-mail</span>
          <h5>contact@jason-taylor.ca</h5>
        </li>
        <li>
          <span>Phone</span>
          <h5>080-4866-8896</h5>
        </li>
      </ul>
    </div>
    <div class="top-content">
      <div class="grid-half">
        <div class="header-photo"><img src="images/photos/header.jpg"  alt=""></div>
        <h2>Jason Taylor</h2>
        <div class="clear"></div>
        <h4> </h4>
      </div>
      <div class="grid-half">
        <div class="header-decor"><span></span></div>
      </div>
    </div>
    <div class="twitter-feed-holder">
      <div class="twitter-feed">
        <!-- Twitter Slider -->
        <div id="twitter-feed"></div>
        <div class="customNavigation">
          <a class="btn prev-slide transition"><i class="fa fa-angle-left"></i></a>
          <a class="btn next-slide transition"><i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- Navigation -->
    <%- partial ('_navigation.ejs') %>
  </div>
</div>
<!-- header end-->
