<div class="nav-holder">
  <div class="nav-button">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav>
    <ul class="navigation">
      <li>
        <a href="/" class="ajax transition <%- req.path == '/' ? 'active' : '' %>">
          <span class="nav-text">Home</span>
          <span class="transition nav-decor"></span>
        </a>
      </li>
      <li>
        <a href="/resume" class="ajax transition <%- req.path == '/resume' ? 'active' : '' %>">
          <span class="nav-text">Resume</span>
          <span class="transition nav-decor"></span>
        </a>
      </li>
      <li>
        <a href="/work" class="ajax transition <%- req.path == '/work' ? 'active' : '' %>">
          <span class="nav-text">Media</span>
          <span class="transition nav-decor"></span>
        </a>
      </li>
      <li>
        <a href="/contact" class="ajax transition <%- req.path == '/contact' ? 'active' : '' %>">
          <span class="nav-text">Contact</span>
          <span class="transition nav-decor"></span>
        </a>
      </li>
      <li class="dropdown">
        <a>Links</a>
        <ul class="transition2">
          <li><a href="http://www.franzeevans.jp" target="_blank"><span class="nav-text">Franze & Evans</span><span class="transition nav-decor"></span></a></li>
          <li><a href="http://www.tancoffee.com" target="_blank"><span class="nav-text">TAN Coffee</span><span class="transition nav-decor"></span></a></li>
          <li><a href="http://www.r2sc.jp/en/" target="_blank"><span class="nav-text">R2 Supper Club</span><span class="transition nav-decor"></span></a></li>
          <li><a href="http://www.laschicas.jp/" target="_blank"><span class="nav-text">Las Chicas</span><span class="transition nav-decor"></span></a></li>
          <li><a href="https://www.stewartsorganicfarm.com/" target="_blank"><span class="nav-text">Stewart's Organic Farm</span><span class="transition nav-decor"></span></a></li>
          <li><a href="http://www.british-hills.co.jp/english" target="_blank"><span class="nav-text">British Hills</span><span class="transition nav-decor"></span></a></li>
          <li><a href="http://www.badhu.nl/?lang=en" target="_blank"><span class="nav-text">Badhu</span><span class="transition nav-decor"></span></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
