<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content=" width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title></title>
  <!--
  <link rel="stylesheet" href="./assets/styles/mail.css" />
  -->
  <style type="text/css">
    p {
      line-height: 24px;
    }
  </style>
</head>
<body>
  <p>Contact</p>
</body>
</html>
