<!--================= main start ================-->
<div id="main">
  <%- partial("partials/_header.ejs")%>
  <div class="clear"></div>
  <!--================= wrapper start ================-->
  <div id="wrapper">
    <!--================= content-holder start ================-->
    <div class="content-holder" id="dunamic-content">
      <!--================= container  start================-->
      <div class="container">
        <!--content Start -->
        <section class="content" id="about">
          <!--content Start -->
          <div class="anim-content">
            <!--=============== About ===============-->
            <div class="page-box">
              <div class="grid-half">
                <h4 class="align-text">
                <div class="clear"></div>
                <div class="separator float-left"></div>
                <div class="clear"></div>
                <p class="align-text">I'm a Canadian living in Harajuku, Tokyo. Experience with Bartending, Barista, Event Promotion and DJ'ing aswell as private english conversational lessons.</p>
                <p class="align-text">I've outlined my employment history as well as some accompanying media to elaborate on the nature of the establishments for which I've worked and provided links to their respective websites. I'm available to start immediately, full-time, weekdays and weekends, any shift.</p>
                <p class="align-text"> Please take your time in reviewing the information outlined here, and if you have any questions or would like to discuss employment opportunities please contact me via the 'Contact' tab above or at Jason.Lee.Taylor@me.com. Thanks for your time.</p>
                <a href="/resume" class="ajax button float-button  transition hide-icon"><i class="fa fa-angle-right transition2"></i><span class="text transition color-bg">My resume</span></a>
                <div class="clear"></div>
              </div>
              <div class="grid-half">
                <div class="single-media">
                  <div id="single-media" class="owl-carousel">
                    <!-- 1 slide -->
                    <div class="item">
                      <img src="images/media/me-1.jpg" class="respimg" alt="">
                    </div>
                    <!-- 2 slide -->
                    <div class="item">
                      <img src="images/media/me-2.jpg" class="respimg" alt="">
                    </div>
                  </div>
                  <div class="customNavigation">
                    <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                    <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--=============== Fucts ===============-->
                    <div class="grid-full">
                      <h3 class="section-title"></h3>
                      <div class="clear"></div>
                      <div class="separator"></div>
                    </div>

          </div>
        </section>
        <!--content end -->
      </div>
      <div class="clear"></div>
      <%- partial("partials/_footer.ejs")%>
    </div>
    <!-- Content-holder end-->
  </div>
  <!-- Wrapper end -->
</div>
<!-- Main end -->
