<!--================= main start ================-->
<div id="main">
  <%- partial("partials/_header.ejs")%>
  <div class="clear"></div>
  <!--================= wrapper start ================-->
  <div id="wrapper">
    <!--================= content-holder start ================-->
    <div class="content-holder" id="dunamic-content">
      <div class="container">
        <!--content Start -->
        <section class="content">
          <div class="anim-content">
            <div class="anim-content">
              <div class="grid-full">
                <h3 class="section-title"> Resume</h3>
                <div class="clear"></div>
                <div class="separator"></div>
              </div>
              <div class="page-box">
                <div class="grid-full">
                  <div class="resume-container">
                    <!-- resume-head -->
                    <div class="resume-head">
                      <h3>EMPLOYMENT</h3>
                      <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="resume-info">
                      <span class="resume-date">June ’14 - Feb ’15</span>
                      <div class="clear"></div>
                      <h5>R2 Supper Club</h5>
                    </div>
                    <div class="resume-box-holder">
                      <div class="resume-box">
                        <div class="resume-decor"></div>
                        <div class="resume-item">Tokyo, Japan</div>
                        <h6>Mixologist</h6>
                        <div class="clear"></div>
                        <div class="separator float-left"></div>
                        <div class="clear"></div>
                        <p class="align-text">•Prepared an extensive list of high grade cocktails with an exceptional standard of quality in a fast and systematic fashion</p>
                        <p class="align-text">•Handled customer transactions using Micros system</p>
                        <p class="align-text">•Opening and closing duties including bar preperatory work</p>
                        <p class="align-text">•Very thorough cleaning practices to maintain a clean and hygienic working space</p>
                        <p class="align-text">•Strict personal grooming standards and uniform dress code</p>
                      </div>
                    </div>
                    <div class="resume-info">
                      <span class="resume-date">May '10 - May ’14</span>
                      <div class="clear"></div>
                      <h5>Las Chicas</h5>
                    </div>
                    <div class="resume-box-holder">
                      <div class="resume-box">
                        <div class="resume-decor"></div>
                        <div class="resume-item">Tokyo, Japan</div>
                        <h6>Bartender/Barista</h6>
                        <div class="clear"></div>
                        <div class="separator float-left"></div>
                        <div class="clear"></div>
                        <p class="align-text">•Worked on and off over the course of 4 years as a Bartender/Barista at an international cafe/restaurant</p>
                        <p class="align-text">•Prepared traditional and specialty cocktails as well as espresso based drinks</p>
                        <p class="align-text">•Responsible for opening and closing duties including cash-up and bar prep</p>
                        <p class="align-text">•Facilitated private parties, assisted with floor layout,product displays and audio setup</p>
                      </div>
                    </div>
                      <div class="resume-info">
                        <span class="resume-date">Sep '13 - Mar '15</span>
                        <div class="clear"></div>
                        <h5>HOME|BASS Tokyo</h5>
                      </div>
                      <div class="resume-box-holder">
                        <div class="resume-box">
                          <div class="resume-decor"></div>
                          <div class="resume-item">Tokyo, Japan</div>
                          <h6>Promoter</h6>
                          <div class="clear"></div>
                          <div class="separator float-left"></div>
                          <div class="clear"></div>
                          <p class="align-text">•Promoted underground electronic music events utilizing the concept of HOME|BASS Halifax</p>
                          <p class="align-text">•Arranged artist bookings and venue rentals</p>
                          <p class="align-text">•Prepared audio and visual elements, timetables and music curation</p>
                          <p class="align-text">•Designed promotional content and flyers for social media and print</p>
                          <p class="align-text">•Acted as a liaison for visiting artists and associates, assisting them with accomodation and sightseeing arrangements.</p>
                        </div>
                      </div>
                        <div class="resume-info">
                          <span class="resume-date">Nov '11 - May '12</span>
                          <div class="clear"></div>
                          <h5>Sushi Fang</h5>
                        </div>
                        <div class="resume-box-holder">
                          <div class="resume-box">
                            <div class="resume-decor"></div>
                            <div class="resume-item">Nova Scotia, Canada</div>
                            <h6>Service Staff</h6>
                            <div class="clear"></div>
                            <div class="separator float-left"></div>
                            <div class="clear"></div>
                            <p class="align-text">•Service staff at a Japanese fusion restaurant</p>
                            <p class="align-text">•Educated customers regarding the Japanese cuisine options on the menu</p>
                            <p class="align-text">•Communicated customers orders and any special requirements to the kitchen staff</p>
                            <p class="align-text">•Preparation of drinks and delivery of food items to customers as well as clearing tables</p>
                            <p class="align-text">•Opening and closing duties including cleaning responsibilities</p>
                          </div>
                        </div>
                        <div class="resume-info">
                        <span class="resume-date">Aug '11 - Nov '11</span>
                        <div class="clear"></div>
                        <h5>Stewart's Organic Farm</h5>
                      </div>
                      <div class="resume-box-holder">
                        <div class="resume-box">
                          <div class="resume-decor"></div>
                          <div class="resume-item">Nova Scotia, Canada</div>
                          <h6>Volunteer</h6>
                          <div class="clear"></div>
                          <div class="separator float-left"></div>
                          <div class="clear"></div>
                          <p class="align-text">•Worked 3-4 days a week volunteering at a local organic farm</p>
                          <p class="align-text">•Harvesting, washing, packaging of a variety of crops</p>
                          <p class="align-text">•Preparation for bi-weekly market</p>
                        </div>
                      </div>
                      <div class="resume-info">
                        <span class="resume-date">2009-2010</span>
                        <div class="clear"></div>
                        <h5>British Hills</h5>
                      </div>
                      <div class="resume-box-holder">
                        <div class="resume-box">
                          <div class="resume-decor"></div>
                          <div class="resume-item">Fukushima, Japan</div>
                          <h6>Service Staff</h6>
                          <div class="clear"></div>
                          <div class="separator float-left"></div>
                          <div class="clear"></div>
                          <p class="align-text">•Victorian era style British hotel resort in the mountain of northern Japan</p>
                          <p class="align-text">•Service staff for a large Victorian style banquet hall; capacity of over 500 persons</p>
                          <p class="align-text">•Daily tasks included table arrangement, formal table settings, buffet set-up and general clean-up</p>
                        </div>
                      </div>
                      <div class="resume-info">
                        <span class="resume-date">2008-2009</span>
                        <div class="clear"></div>
                        <h5>Badhu</h5>
                      </div>
                    <div class="resume-box-holder">
                        <div class="resume-box">
                          <div class="resume-decor"></div>
                          <div class="resume-item">Utrecht, The Netherlands</div>
                          <h6>Bartender/Barista</h6>
                          <div class="clear"></div>
                          <div class="separator float-left"></div>
                          <div class="clear"></div>
                          <p class="align-text">•Bartender at a designer Moroccan café and restaurant</p>
                          <p class="align-text">•Prepared a high volume of espresso based drinks during cafe hours and a variety of traditional and specialty cocktails during dinner hours</p>
                          <p class="align-text">•Experience with Latte art</p>
                          <p class="align-text">•Responsible for ordering, accepting deliveries and organization/upkeep of stock rooms</p>
                        </div>
                    </div>
                    <!-- resume-head -->
                    <div class="resume-head">
                      <h3>EDUCATION</h3>
                      <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="resume-info">
                      <span class="resume-date">2006</span>
                      <div class="clear"></div>
                      <h5>Horton High School</h5>
                    </div>
                    <div class="resume-box-holder">
                      <div class="resume-box">
                        <div class="resume-decor"></div>
                        <div class="resume-item">Wolfville, Nova Scotia</div>
                        <h6>High School Diploma</h6>
                        <div class="clear"></div>
                        <div class="separator float-left"></div>
                        <div class="clear"></div>
                        <p class="align-text">•Received a High School diploma from Horton High School in Wolfville, Nova Scotia.</p>
                        <p class="align-text">•Studied photography and film development as an extra curricular.</p>
                      </div>
                    </div>
                    <!-- resume-head -->
                    <div class="resume-head">
                      <h3>Skills</h3>
                      <i class="fa fa-rocket"></i>
                    </div>
                    <div class="resume-info">

                    </div>
                    <div class="resume-box-holder">
                      <div class="resume-box">
                        <div class="resume-decor"></div>
                        <!--================= Skills start ================-->
                        <div class="resume-info">

                        <div class="clear"></div>
                        <h5>Japanese Language</h5>
                      </div>
                      <div class="resume-box-holder">
                        <div class="resume-box">
                          <div class="resume-decor"></div>
                          <div class="clear"></div>

                          <div class="clear"></div>
                          <p class="align-text">•Conversational level spoken Japanese</p>
                          <p class="align-text">•Hiragana and Katakana reading proficiency</p>
                          <p class="align-text">•Limited Kanji reading proficiency</p>
                        </div>
                      </div>
                        <!-- Skills end-->
                      </div>
                    </div>
                  </div>
                  <a href="images/Jason Taylor-Resume.pdf" class="button float-button  transition hide-icon"><i class="fa fa-download transition2"></i> <span class="text transition color-bg">Download resume</span></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--content end -->
      </div>
      <div class="clear"></div>
      <%- partial("partials/_footer.ejs")%>
    </div>
    <!-- Content-holder end-->
  </div>
  <!-- Wrapper end -->
</div>
<!-- Main end -->
