<!--================= main start ================-->
<div id="main">
  <%- partial("partials/_header.ejs")%>
  <div class="clear"></div>
  <!--================= wrapper start ================-->
  <div id="wrapper">
    <!--================= content-holder start ================-->
    <div class="content-holder" id="dunamic-content">
      <div class="container">
        <!--content Start -->
        <section class="content">
          <div class="anim-content">
            <div class="anim-content">
              <div class="grid-full">
                <h3 class="section-title"> Resume</h3>
                <div class="clear"></div>
                <div class="separator"></div>
              </div>
              <div class="page-box">
                <div class="grid-full">
                  <div class="resume-container">
                    <!-- resume-head -->
                    <div class="resume-head">
                      <h3>EMPLOYMENT</h3>
                      <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="resume-info">
                      <span class="resume-date">June ’14 - Feb ’15</span>
                      <div class="clear"></div>
                      <h5>R2 Supper Club</h5>
                    </div>
                    <div class="resume-box-holder">
                      <div class="resume-box">
                        <div class="resume-decor"></div>
                        <div class="resume-item">Tokyo, Japan</div>
                        <h6>Mixologist</h6>
                        <div class="clear"></div>
                        <div class="separator float-left"></div>
                        <div class="clear"></div>
                        <p class="align-text">Preparing an extensive list of high grade cocktails with an exceptional standard of quality in a fast and systematic fashion. Responsible for opening and closing duties including bar preperatory work.</p>
                      </div>
                    </div>
                    <div class="resume-info">
                      <span class="resume-date">Jan ’14 - May ’14</span>
                      <div class="clear"></div>
                      <h5>Las Chicas</h5>
                    </div>
                    <div class="resume-box-holder">
                      <div class="resume-box">
                        <div class="resume-decor"></div>
                        <div class="resume-item">Tokyo, Japan</div>
                        <h6>Bartender/Barista</h6>
                        <div class="clear"></div>
                        <div class="separator float-left"></div>
                        <div class="clear"></div>
                        <p class="align-text">Preparing traditional cocktails and espresso based drinks. Responsible for opening and closing duties including cash-up.</p>
                      </div>
                    </div>
                      <div class="resume-info">
                        <span class="resume-date">Sep '13 - Mar '15</span>
                        <div class="clear"></div>
                        <h5>HOME|BASS Tokyo</h5>
                      </div>
                      <div class="resume-box-holder">
                        <div class="resume-box">
                          <div class="resume-decor"></div>
                          <div class="resume-item">Tokyo, Japan</div>
                          <h6>Promoter</h6>
                          <div class="clear"></div>
                          <div class="separator float-left"></div>
                          <div class="clear"></div>
                          <p class="align-text">•Arranged artist bookings and venue rentals</p>
                          <p class="align-text">•Prepared audio and visual elements and curated music</p>
                          <p class="align-text">•Designed promotional content and flyers for social media and print</p>
                          <p class="align-text">•Acted as a liaison for visiting artists and associates, assisting them with accomodation and sightseeing arrangements.</p>
                        </div>
                      </div>
                        <div class="resume-info">
                          <span class="resume-date">Nov '11 - May '12</span>
                          <div class="clear"></div>
                          <h5>Sushi Fang</h5>
                        </div>
                        <div class="resume-box-holder">
                          <div class="resume-box">
                            <div class="resume-decor"></div>
                            <div class="resume-item">Nova Scotia, Canada</div>
                            <h6>Service Staff</h6>
                            <div class="clear"></div>
                            <div class="separator float-left"></div>
                            <div class="clear"></div>
                            <p class="align-text">•Educated customers regarding the Japanese cuisine options on the menu</p>
                            <p class="align-text">•Communicating customers orders and any special requirements to the kitchen staff</p>
                            <p class="align-text">•Preparing drinks and delivering food items to customers table as well as clearing tables</p>
                            <p class="align-text">•Opening and closing duties</p>

                          </div>
                    </div>
                    <!-- resume-head -->
                    <div class="resume-head">
                      <h3>EDUCATION</h3>
                      <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="resume-info">
                      <span class="resume-date">2006</span>
                      <div class="clear"></div>
                      <h5>Horton High School</h5>
                    </div>
                    <div class="resume-box-holder">
                      <div class="resume-box">
                        <div class="resume-decor"></div>
                        <div class="resume-item">Wolfville, Nova Scotia</div>
                        <h6>High School Diploma</h6>
                        <div class="clear"></div>
                        <div class="separator float-left"></div>
                        <div class="clear"></div>
                        <p class="align-text">Received a High School diploma from Horton High School in Wolfville, Nova Scotia.</p>
                        <p class="align-text">Studied photography and film development as an extra curricular.</p>
                      </div>
                    </div>
                    <!-- resume-head -->
                    <div class="resume-head">
                      <h3>Skills</h3>
                      <i class="fa fa-rocket"></i>
                    </div>
                    <div class="resume-info">
                      <h5>Development Skills</h5>
                    </div>
                    <div class="resume-box-holder">
                      <div class="resume-box">
                        <div class="resume-decor"></div>
                        <!--================= Skills start ================-->
                        <div class="custom-skillbar-holder">
                          <div class="skillbar-box animaper">
                            <!-- skill 1-->
                            <div class="custom-skillbar-title"><span>Japanese</span></div>
                            <div class="skill-bar-percent">40%</div>
                            <div class="skillbar-bg" data-percent="40%">
                              <div class="custom-skillbar"></div>
                            </div>
                            <!-- skill 2-->
                            <div class="custom-skillbar-title"><span>Espresso Drinks</span></div>
                            <div class="skill-bar-percent">80%</div>
                            <div class="skillbar-bg" data-percent="80%">
                              <div class="custom-skillbar"></div>
                            </div>
                            <!-- skill 3-->
                            <div class="custom-skillbar-title"><span>Cocktails</span></div>
                            <div class="skill-bar-percent">85%</div>
                            <div class="skillbar-bg" data-percent="85%">
                              <div class="custom-skillbar"></div>
                            </div>
                          </div>
                        </div>
                        <!-- Skills end-->
                      </div>
                    </div>
                  </div>
                  <a href="#" class="button float-button  transition hide-icon"><i class="fa fa-download transition2"></i> <span class="text transition color-bg">Download resume</span></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--content end -->
      </div>
      <div class="clear"></div>
      <%- partial("partials/_footer.ejs")%>
    </div>
    <!-- Content-holder end-->
  </div>
  <!-- Wrapper end -->
</div>
<!-- Main end -->
