<!--================= main start ================-->
<div id="main">
  <%- partial("partials/_header.ejs")%>
  <div class="clear"></div>
  <!--================= wrapper start ================-->
  <div id="wrapper">
    <!--================= content-holder start ================-->
    <div class="content-holder" id="dunamic-content">
      <div class="container">
        <!--content Start -->
        <section class="content">
          <div class="anim-content">
            <div class="grid-full">
              <h3 class="section-title"> Media</h3>
              <div class="clear"></div>
              <div class="separator"></div>
            </div>
            <div class="page-box">
              <div class="grid-full">
                <div id="options">
                  <ul id="filters" class="option-set" data-option-key="filter">
                    <li class="filter transition actcat " data-filter="all">All</li>
                    <li class="filter transition" data-filter="category_1">R2 </li>
                    <li class="filter transition" data-filter="category_2">Las Chicas</li>
                    <li class="filter transition" data-filter="category_3">British Hills</li>
                    <li class="filter transition" data-filter="category_4">Badhu</li>
                    <li class="filter transition" data-filter="category_5">HOME|BASS</li>
                  </ul>
                </div>
                <div class="portfolio-holder">
                  <ul id="folio_container">
                    <!-- 1 project -->
                    <li class="box grid-2  notvisible  mix category_1 mix_all">
                      <img src="images/media/R21.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>R2 Supper Club</h4>
                      </div>
                      <a href="images/media/R21.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 1 project -->
                    <li class="box grid-2  notvisible  mix category_1 mix_all">
                      <img src="images/media/R2-logo.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>R2 Supper Club</h4>
                      </div>
                      <a href="images/media/R2-logo.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 1 project -->
                    <li class="box grid-2  notvisible  mix category_1 mix_all">
                      <img src="images/media/R22.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>R2 Supper Club</h4>
                      </div>
                      <a href="images/media/R22.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 1 project -->
                    <li class="box grid-2  notvisible  mix category_1 mix_all">
                      <img src="images/media/R2-cocktail.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>R2 Supper Club</h4>
                      </div>
                      <a href="images/media/R2-cocktail.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 1 project -->
                    <li class="box grid-2  notvisible  mix category_1 mix_all">
                      <img src="images/media/R23.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>R2 Supper Club</h4>
                      </div>
                      <a href="images/media/R23.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 1 project -->
                    <li class="box grid-2  notvisible  mix category_1 mix_all">
                      <img src="images/media/R2-shots.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>R2 Supper Club</h4>
                      </div>
                      <a href="images/media/R2-shots.jpg.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 2 project -->
                    <li class="box grid-2  notvisible  mix category_2 mix_all">
                      <img src="images/media/las-chicas1.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>Las Chicas</h4>
                      </div>
                      <a href="images/media/las-chicas1.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 2 project -->
                    <li class="box grid-2  notvisible  mix category_2 mix_all">
                      <img src="images/media/las-chicas2.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>Las Chicas</h4>
                      </div>
                      <a href="images/media/las-chicas2.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 2 project -->
                    <li class="box grid-2  notvisible  mix category_2 mix_all">
                      <img src="images/media/las-chicas3.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>Las Chicas</h4>
                      </div>
                      <a href="images/media/las-chicas3.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 2 project -->
                    <li class="box grid-2  notvisible  mix category_2 mix_all">
                      <img src="images/media/lc-bar.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>Las Chicas</h4>
                      </div>
                      <a href="images/media/lc-bar.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 2 project -->
                    <li class="box grid-2  notvisible  mix category_2 mix_all">
                      <img src="images/media/lc-terrace.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>Las Chicas</h4>
                      </div>
                      <a href="images/media/lc-terrace.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 2 project -->
                    <li class="box grid-2  notvisible  mix category_2 mix_all">
                      <img src="images/media/tokyo-salon1.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>Las Chicas</h4>
                      </div>
                      <a href="images/media/tokyo-salon1.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 3 project -->
                    <li class="box grid-2  notvisible  mix category_3 mix_all">
                      <img src="images/media/british-hills1.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>British Hills</h4>
                      </div>
                      <a href="images/media/british-hills1.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 3 project -->
                    <li class="box grid-2  notvisible  mix category_3 mix_all">
                      <img src="images/media/british-hills2.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>British Hills</h4>
                      </div>
                      <a href="images/media/british-hills2.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 3 project -->
                    <li class="box grid-2  notvisible  mix category_3 mix_all">
                      <img src="images/media/british-hills3.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>British Hills</h4>
                      </div>
                      <a href="images/media/british-hills3.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 4 project -->
                    <li class="box grid-2  notvisible  mix category_4 mix_all">
                      <img src="images/media/badhu1.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>Badhu</h4>
                      </div>
                      <a href="images/media/badhu1.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 4 project -->
                    <li class="box grid-2  notvisible  mix category_4 mix_all">
                      <img src="images/media/badhu-bar.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>Badhu</h4>
                      </div>
                      <a href="images/media/badhu-bar.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 4 project -->
                    <li class="box grid-2  notvisible  mix category_4 mix_all">
                      <img src="images/media/badhu3.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>Badhu</h4>
                      </div>
                      <a href="images/media/badhu3.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 5 project -->
                    <li class="box grid-2  notvisible  mix category_5 mix_all">
                      <img src="images/media/homebass5.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>HOME|BASS Tokyo</h4>
                      </div>
                      <a href="images/media/homebass5.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 5 project -->
                    <li class="box grid-2  notvisible  mix category_5 mix_all">
                      <img src="images/media/homebass6.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>HOME|BASS Tokyo</h4>
                      </div>
                      <a href="images/media/homebass6.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 5 project -->
                    <li class="box grid-2  notvisible  mix category_5 mix_all">
                      <img src="images/media/homebass-famima.jpg" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>HOME|BASS Tokyo</h4>
                      </div>
                      <a href="images/media/homebass-famima.jpg" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 5 project -->
                    <li class="box grid-2  notvisible  mix category_5 mix_all">
                      <img src="images/media/homebass2.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>HOME|BASS Tokyo</h4>
                      </div>
                      <a href="images/media/homebass2.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                    <!-- 5 project -->
                    <li class="box grid-2  notvisible  mix category_5 mix_all">
                      <img src="images/media/homebass7.png" class="respimg transition" alt="" title="">
                      <span class="raster"></span>
                      <div class="work-info">
                        <h4>HOME|BASS Tokyo</h4>
                      </div>
                      <a href="images/media/homebass7.png" class="image-popup"><i class="fa fa-plus"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--content end -->
      </div>
      <div class="clear"></div>
      <%- partial("partials/_footer.ejs")%>
    </div>
    <!-- Content-holder end-->
  </div>
  <!-- Wrapper end -->
</div>
<!-- Main end -->
